.errorRow{
    background-color: #ff7d7d;
    font-weight: bold;
}

.errorRow:hover{
    background-color: #b45b5b;
}

.conflictRow{
    background-color: #ffbe64;
    font-weight: bold;
}

.conflictRow:hover{
    background-color: #b4844d;
}

.goodRow{
    background-color: #96ff7d;
    font-weight: bold;
}

.goodRow:hover{
    background-color: #62b45a;
}

.selectedRow{
    background-color: #f1f1f1;
    font-weight: bold;
}